body {
    margin: 0;
}

a {
<<<<<<< HEAD
    color:rgb(119, 0, 255);
=======
    color: rgb(204, 0, 255);
>>>>>>> bf48ad5803a00f6ed654860029a86a062e9bc7e6
}

h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0;
}

<<<<<<< HEAD
=======

>>>>>>> bf48ad5803a00f6ed654860029a86a062e9bc7e6
ol {
    border-right: 1px solid gray;
    width: 100px;
    margin: 0;
    padding: 20px;
}

#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}

<<<<<<< HEAD
/* 800px보다 작을 경우 동작     */
@media(max-width :800px){
        #grid {
            display: block;
        }

        #grid ol {
            border-right: none;
        }

        h1 {
            border-bottom: none;
        }
=======
/* 800 px 보다 작을 경우 동작  */
@media(max-width :800px) {
    #grid {
        display: block;
    }

    #grid ol {
        border-right: none;
    }

    h1 {
        border-bottom: none;
    }
>>>>>>> bf48ad5803a00f6ed654860029a86a062e9bc7e6
}